.product-card {
    background: white;
    height: 420px;
    width: 270px;
    border-radius: 5px;
    padding: 1rem;
}

.card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    margin-bottom: 1rem;
}

.product-card-divider {
    margin: 1rem 0;
    border: none;
    height: 2px;
    background: #F0F0F3;
}

.product-pricing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-container {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
}

.discount-info-container {
    font-size: .8rem;
    color: red;
}

.buttons-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

button {
    border: none;
}

.add-to-cart-btn {
    background: #52a71d;
    color: white;
    padding: .5rem 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.compare-btn {
    background: white;
    color: #908f9a;
    border: 1px solid #f2f2f2;
    padding: .5rem 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-product-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
