/* You can add global styles to this file, and also import other style files */
html {
    height: 100vh;
    width: 100vw;
}

html body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.toast-body {
    padding: 1.3rem 3rem;
    font-size: 1.1rem;
}

.green-toast {
    background: #52a71d;
    color: white;
}